*{
	margin: 0;
	padding: 0;
	font-family: "Inconsolata", sans-serif;
}

button{
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

a{
	color: white;
	text-decoration: none;
}

a:visited{
	color: white;
}

body::-webkit-scrollbar {
	width: 0.5em;
}

body::-webkit-scrollbar-track {
	background-color: #212121;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

.d-none{
	display: none !important;
}

.w-0{
	width: 0 !important;
}

.navbar{
	height: 100vh;
	position: fixed;
	width: 20vw;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	transition: width 1s ease;
	box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
	overflow: hidden;
	background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255, 255, 255, 0.75));
	z-index: 2;
	backdrop-filter: blur(10px);
}

.menuLabel {
	cursor: pointer;
	padding: 0 0.5em;
	display: flex;
	align-items: center;
	color: #191919;
	font-weight: bold;
}

.menuLabel:hover{
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2));
}

.navbar .menuLabel span{
	font-size: 1.2em;
}

.navbar .menuLabel button{
	font-size: 2em;
	margin: 0.5em;
	margin-left: 0.25em;
	color: black;
}

#home, #about, #projects, #contactMe{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.banner .menuToggle{
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.5em;
	font-weight: lighter;
	font-size: 2em;
}

.banner{
	text-align: center;
	min-height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #191919;
	flex-direction: column;
	background-image: radial-gradient(rgba(255, 255, 255, 0.25) 8%, transparent 8%);
	background-position: 0% 0%;
	background-size: 5vmin 5vmin;
	background-attachment: fixed;
	padding: 0.5em;
}

#about .banner{
	padding: 1em;
	justify-content: flex-start;
	align-items: center;
}

.info{
	margin: 1em;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.info .bio{
	display: flex;
	align-items: center;
}

.info .bio img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid white;
	margin: 1em 1em 1em 0;
}

.locMail{
	display: flex;
	flex-direction: column;
}

.locMail > * {
	display: flex;
	align-items: center;
	margin: 0.5em 0;
}

.mapPin, .mailIcon{
	margin: 0 0.25em;
	border-radius: 50%;
	background-color: white;
	color: #191919;
	padding: 0.5em;
	text-align: center;
}

.location span{
	font-weight: bold;
	margin-left: 0.75em;
}

.email .copytoClipboard{
	display: flex;
	margin-left: 0.75em;
	flex-direction: column;
	justify-content: center;
}

.copytoClipboard span{
	margin-bottom: 0.5em;
	font-weight: bold;
}

.info h1{
	font-size: 2.5em;
	margin: 1em 0 0 0;
}

.info h2{
	font-size: 2em;
	margin: 1em 0 0 0;
}

#contactMe .banner h1:after, #projects .banner h1:after, .info h1:after, .info h2:after{
	transition: width 1s ease;
	height: 3px;
	background-color: white;
	position: absolute;
	display: block;
	content: '';
	width: 0;
}

#contactMe h1{
	margin-top: 1.25em;
}

#contactMe .banner h1:after, #projects .banner h1:after{
	transform: translateY(5px);
}

.info h1:hover:after{
	width: 25%;
}

.info h2:hover:after{
	width: 20%;
}

#contactMe .banner h1:hover:after, #projects .banner h1:hover:after{
	width: 15%;
}

.desc{
	font-size: 1.25em;
	width: 50vw;
	margin: 1em 0;
	white-space: pre-line;
}

.welcome{
	letter-spacing: 3px;
	margin: 1em 0 0 0;
	text-align: center;
}

.banner > h3{
	margin: 1em 0;
}

.resume button{
	font-size: 1em;
	border: 2px solid white;
	color: white;
	font-weight: bold;
	padding: 0.75em 2em;
	transition: all 0.25s ease-in;
	border-radius: 5px;
}

.resume button:hover{
	color: #191919;
	background-color: white;
}

.contacts, .skills{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 50vw;
}

.skills{
	margin: 1em 0;
	max-width: 100vw;
}

.contact, .skill{
	border: 1px solid transparent;
	padding: 5px;
	font-size: 2em;
	transition: border-bottom transform 0.2s ease;
	margin: 0 0.25em;
}

.contact:hover, .skill:hover{
	border-bottom-color: white;
	box-shadow: rgba(255,255,255, 0.75) 0px 0px 0px 0px;
	transform: scale(1.1);
}

.selfImg{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 3px solid white;
}

.notif{
	position: fixed;
	bottom: 1em;
	right: 1em;
	background-color: #191919;
	color: white;
	width: 10em;
	padding: 1em;
	box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 5px;
}

.notif::after{
	height: 3px;
	transform: translate(-1em, 1em);
	content: "";
	display: block;
	background-color: white;
	width: 12em;
	animation-name: notif-grow;
	animation-duration: 2.5s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}

#projects .banner > h1{
	margin: 1em 0;
}

.projectList{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.proj{
	padding: 1em;
	margin: 1em;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 30vw;
	transition: background-image 0.5s ease;
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 1.0), rgba(255, 255, 255, 0.01));
	position: relative;
	overflow: hidden;
	border: 2px solid black;
}

.proj:hover{
	border-color: white;
}

.proj > * {
	margin: 1em 0;
}

.projLinks a{
	font-size: 1.5em;
	padding: 0.5em;
	border: 1px solid transparent;
}

.projLinks a:hover{
	border-bottom-color: white;
}

.projDesc{
	text-align: left;
}

.projTechList{
	display: flex;
	flex-wrap: wrap;
}

.projTech{
	margin: 0.5em 1em 0.5em 0;
}

.projTech:first-child{
	margin-left: 0;
}

.banner-info{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-info > *{
	margin: 0.5em 0;
}

.banner-info small{
	font-size: 1.2em;
	margin-bottom: 1em;
}

.contact-form{
	display: flex;
	flex-direction: column;
}

.contact-form-label{
	display: flex;
	flex-direction: column;
	margin: 1em 0;
}

.contact-form-label > div{
	font-size: 1.2em;
	text-align: left;
	margin: 0.35em 0;
}

.contact-form-label input, .contact-form-label textarea{
	background-color: #191919 !important;
	border: 1px solid white;
	padding: 1em;
	color: white;
	min-width: 60vw;
	font-size: 1em;
}

.contact-form-label textarea {
	height: 10em;
}

.contact-form-label input:focus, .contact-form-label textarea:focus{
	outline: 2px white solid;
	border-radius: 0;
}

.contact-form-label input::placeholder, .contact-form-label textarea::placeholder{
	color: #CCCCCC;
}

.contact-form button {
	background-color: white;
	color: #191919;
	padding: 1em;
	font-size: 1.2em;
	font-weight: bold;
	border: 2px solid transparent;
	margin-bottom: 2em;
}

.contact-form button:hover{
	background-color: #191919;
	color: white;
	border: 2px solid white;
}

.contact-form button:disabled{
	cursor: not-allowed;
	background-color: #CCCCCC;
	color: black;
}

@keyframes notif-grow {
	from{
		width: 12em;
	}
	to{
		width: 0;
	}
}

@media (max-height: 658px) {
	body{
		overflow: visible;
	}
}

@media (max-width: 1000px) {
	.navbar {
		width: 40vw;
	}

	body{
		overflow: visible;
	}

	.desc{
		font-size: 1em;
		width: 80vw;
	}

	.info h1{
		font-size: 2em;
		margin: 1em 0 0 0;
	}

	.info h2{
		font-size: 1.5em;
	}
}

@media (max-width: 900px) {
	.navbar{
		width: 50vw;
	}

	.projectList{
		flex-direction: column;
		align-items: center;
	}

	.proj{
		margin: 0.5em 0;
		width: 80vw;
	}
}

@media (max-width: 750px) {	
	.desc{
		width: 82vw;
	}
}

@media (max-width: 600px) {
	.bio{
		flex-direction: column;
		align-items: flex-start;
	}
}

@media (max-width: 500px) {
	.navbar{
		width: 70vw;
	}
}

@media (max-width: 400px) {
	.selfImg{
		width: 150px;
		height: 150px;
	}
}